/* Body */ 

body {

    margin : 0px;

    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
}

/* Lists */

ul { list-style: none;
    padding: 0px;

} 

a {text-decoration: none; 
    
    color : white;}

li {
    display: inline;
    padding : 10px;
}


/* Header */

.header {
    background-color: #1F2937 ;
    color : white;
    padding-left  : 70px;
}

/* Sub-header 1 */

.sub-header1 {
    display: flex;
    justify-content: space-between;
    margin-left : 80px;
    margin-right : 250px;
    align-items: center;
    margin-bottom : 20px;
}

.sub-header1 img { width: 150px;
height: 100px;
margin : 15px;

}

.sub-header1 a {

    border : 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px;
    font-size : 18px; 
    color : #E5E7EB;
}


/* Sub-header 2 */

.sub-header2  {
    display: flex;
    margin : 30px;
    margin-bottom : 80px;
    align-items: center;

}

.sub-header2 h1 { font-size : 48px;
    font-weight : bold;
    color : #F9F1F8;
    margin : 0px;
}

.sub-header2 p { font-size : 18px; color : #E5E7EB; display: inline-block;
    margin-top : 10px;
    margin-bottom : 30px;
  
}

.sub-header2 img { width: 700px;
    height: 400px;
}

.sub-header2 button {color : white;
    background-color: #3882F6 ;
    padding : 10px;
    padding-right : 20px;
    padding-left: 20px;
    border-radius : 10px;
    font-size : 15px;
}

.block1 { margin-right : 130px; width : 600px; flex-shrink:0;
margin-left : 70px;}


/* Section 1  */

.random {
    font-size : 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom : 40¢px;
}
.section1 {
    display: flex;
    justify-content: center;
    height : 300px;
    margin-bottom : 40px;
    gap : 30px;
}


.section1 img {
    width: 200px;
    height: 200px;
    border : 2px solid rgb(0, 89, 255);
}

.divs {
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.section1 p {
    width: 180px;
    
}

/* Section 2  */

.section2 { background-color: #E5E7EB ;
    font-size : 36px;
    font-style : italic;
    font-weight : lighter;
    display: flex;
    flex-direction: column;
    height : 400px;
    justify-content: center;
    align-items: center;
}

.section2 p {
    width: 800px;
    margin-left : 40px;
}


.Thor {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size : 16px;
    display: flex;
    justify-content: flex-end;
    margin-right : 30px;
  
}

/* Section 3  */

.section3 {
    height : 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call  {
    background-color: #3882F6;
    color : white;
    font-size : 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height : 120px;
    justify-content: space-evenly;
    border : 1px solid;
    border-radius : 6px;
}

#action {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 19px;
}

.call button {
    color : white;
    background-color: #3882F6;
    padding : 5px 25px;
    border : 1px solid white;
    border-radius : 6px;

}

/* Footer  */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 80px;
    color : white;
}